.promo
   $parent: &
   &__container
      +clr
      +md
         padding: 0 55px
      +sm
         padding: 0
         display: flex
         flex-direction: column
   &__item
      $parent: &
      position: relative
      float: right
      +sm
         float: none
      
      &-content
         position: absolute
         top: 56px
         left: 58px
         right: 58px
         bottom: 50px
         +md
            top: 30px
            left: 30px
            right: 30px
            bottom: 30px
         +sm
            top: 15px
            left: 15px
            right: 55px
            bottom: 15px
         #{$parent}_section &
            top: 50px
            +md
               top: 30px
            +sm
               position: static
               top: auto
   
      &-img
         +cover-img
         +coverdiv
         
      &-info
         margin-bottom: 30px
         +md
            margin-bottom: 10px
         
      &-title
         margin-bottom: 14px
         #{$parent}_text-white &
            color: $white
      &-data
         display: flex
         margin-bottom: 5px
         +sm
            flex-direction: column
            margin-bottom: 15px
         &-descr
            margin-right: 30px
            +md
               margin-right: 15px
            +sm
               margin-right: 0
               margin-bottom: 5px
         &-user
            display: flex
            align-items: center
            span
               &:not(:last-child)
                  margin-right: 4px
            .icon-star
               margin-right: 4px
               fill: #000
               font-size: 12px
            
      &-time
         display: flex
         align-items: center
         font-size: 17px
         svg
            font-size: 16px
            margin-right: 12px
            #{$parent}_text-white &
               fill: $white
         span
            margin-left: 4px
            +boldFont
            
      &-price
         margin-bottom: 42px
         +f('pt700', 25)
         +md
            margin-bottom: 20px
            font-size: 23px
         
      &-bids
         width: 90px
         height: 90px
         display: flex
         align-items: center
         flex-direction: column
         justify-content: center
         color: $color1
         +md
            width: 60px
            height: 60px
         span
            display: block
            +f('pt700', 17)
         #{$parent}_color-1 &
            background-color: #ffe469
         #{$parent}_color-2 &
            background-color: #ff99ff
         #{$parent}_color-3 &
            background-color: #7ae4e6
         #{$parent}_color-4 &
            background-color: #ed2a26
         #{$parent}_color-5 &
            background-color: #ffdf45
         #{$parent}_color-6 &
            background-color: #ffa996
         #{$parent}_color-7 &
            background-color: #6600cc
         &_text-white
            color: #fff
            
      &-icon-arr
         margin-top: 37px
         #{$parent}:hover &
            animation: mdMoveRight .3s ease-in-out
   
      &_sm
         width: 50%
         padding-top: percentage(390 / 1028)
         +sm
            width: 100%
            padding-top: 100%
         
      &_md
         width: 50%
         margin-left: -0.06%
         padding-top: percentage(780 / 1028)
         +sm
            width: 100%
            margin-left: 0
            padding-top: 100%
         
      &_lg
         clear: both
         width: 100%
         padding-top: percentage(390 / 1028)
         +sm
            width: 100%
            padding-top: 100%
            
      &_section
         +sm
            display: block
            padding: 40px 15px
         &:nth-of-type(1)
            +sm
               order: -1
         &:nth-of-type(2)
            +sm
               order: 1
         
      &_color-1
         background-color: #ffe469
         .control-panel__btn_view
            background-color: #ffe469
      &_color-2
         background-color: #ff99ff
         .control-panel__btn_view
            background-color: #ff99ff
      &_color-3
         background-color: #7ae4e6
         .control-panel__btn_view
            background-color: #7ae4e6
      &_color-4
         background-color: #ed2a26
         .control-panel__btn_view
            background-color: #ed2a26
      &_color-5
         background-color: #ffdf45
         .control-panel__btn_view
            background-color: #ffdf45
      &_color-6
         background-color: #ffa996
         .control-panel__btn_view
            background-color: #ffa996
      &_color-7
         background-color: #6600cc
         .control-panel__btn_view
            background-color: #6600cc
      &_text-white
         color: $white
         .icon-star
            fill: $white
            
   &__section
      #{$parent}_text-white &
         color: $white
      &_gray
         background-color: #f0f0f0
      &-descr
         max-width: 250px
         +md
            max-width: 200px
      &-title
         margin-bottom: 25px
         #{$parent}_text-white &
            color: $white
      &-sub-title
         font-size: 21px
         +md
            font-size: 18px
