.screen
   $parent: &
   position: relative
   background-color: #edeff1
   height: 492px
   &__container
      position: static
      display: flex
   &__content
      flex: 0 0 500px
      padding: 50px 0 65px
   &__logo
      display: block
      width: 198px
      margin-bottom: 57px
   &__title
      margin-bottom: 32px
   &__sub-title
      max-width: 350px
      margin-bottom: 50px
      font-size: 29px
      
   &__link
      margin-left: -3px
      font-size: 17px
   &__img-wrap
      position: absolute
      top: 0
      right: 0
      flex: 0 0 907px
