extends layouts/_layout

block variables
	-title = 'Категории'

block content

	//begin main
	main.main

		//begin screen
		+b.SECTION.screen._small
			+e.container.container
				+e.A.logo(href='#!')
					+e.IMG(src='img/other/logo-blue.svg' alt='Auction')
				+e.H2.title.title._lg._gray Доступное искусство со всего мира
				+e.text-content
					+e.P.sub-title Теперь покупать стало проще и безопаснее
					+e.A.link.link(href='#!') Подробнее
						.link__icon.icon-arrow-r-black
		//end screen

		+b.page.category
			+e.container.container
				+e.ASIDE.side
					+e.side-block
						-i = 0
						while i < 3
							+e.side-checkbox-group.checkbox-group
								+checkBox('checkbox-group__check checkbox-group__check_all', 'Check all the things!')(class='js-checkbox-all' checked)
								+checkBox('checkbox-group__check', 'Check me once!')(class='js-checkbox')
								+checkBox('checkbox-group__check', 'Check me twice!')(class='js-checkbox')
							-i++

				+e.content
					+breadcrumbs('Главная', 'Живопись', 'Картины Барокко')(class='category__breadcrumbs')
					+b.H1.category__title.title._md Картины Барокко
					+b.category__filter
						+e.SPAN.filter-title Цена:
						+e.filter-price.range-slider-double
							+b.SPAN.range-slider-double__result._from
							input.range-slider-double__input(type='text' name='' data-min-value='10000' data-max-value='300000' data-default-val-to='150000' data-default-val-from='200000')
							+b.SPAN.range-slider-double__result._to

						+e.filter-actions
							+checkBox('category__fitler-actions-check', 'Бесплатная доставка')(checked)

	//end main
