extends layouts/_layout

block variables
	-title = 'Главная'

block content

	//begin main
	main.main

		//begin screen
		+b.SECTION.screen._full
			+e.inner
				+e.container.container
					+e.content
						+logo('black-blue', 'screen__logo')(href='#!')
						+e.H1.title.title._lg._gray Доступное искусство со всего мира
						+e.P.sub-title Теперь покупать стало проще и безопаснее
						+e.A.link.link(href='#!') Подробнее
							.link__icon.icon-arrow-r-gray
					+e.img-wrap
						+e.IMG(src='img/bg/screen_img.png' alt='image')
		//end screen

		//begin info-block
		+b.SECTION.info-block._home
			.container.container_md
				+e.slider.slider
					-i = 0
					while i < 2
						+e.item._1
							+e.item-header
								+i('paint', 'info-block__item-icon')
								+e.H3.item-title.title._xs Живопись
							+e.item-content
								+e.item-content-img
									+e.IMG(src='img/content/info/info-block_1.png' alt='image')
								+e.item-content-text
									+e.H4.item-content-title.title Это
									+e.P вид изобразительного искусства, связанный
										br
										| с передачей...
								+e.A.item-link.link._bold(href='#!') Подробнее
									.link__icon.icon-arrow-r-black

						+e.item._2
							+e.item-header
								+i('pen', 'info-block__item-icon')
								+e.H3.item-title.title._xs._white Графика
							+e.item-content
								+e.item-content-img
									+e.IMG(src='img/content/info-block_2.png' alt='image')
								+e.item-content-text
									+e.H4.item-content-title.title._white Это
									+e.P вид изобразительного искусства, использующий в качестве основных...
								+e.A.item-link.link._bold._white(href='#!') Подробнее
									.link__icon.icon-arrow-r-white

						+e.item._3
							+e.item-header
								+i('shovel', 'info-block__item-icon')
								+e.H3.item-title.title._xs Скульптура
							+e.item-content
								+e.item-content-img
									+e.IMG(src='img/content/info-block_3.png' alt='image')
								+e.item-content-text
									+e.H4.item-content-title.title Это
									+e.P вид изобразительного искусства, произведения которого имеют...
								+e.A.item-link.link._bold(href='#!') Подробнее
									.link__icon.icon-arrow-r-black
						-i++

				+e.BUTTON.help-btn.help-btn
					+i('help')
		//end info-block

		//begin promo
		+b.SECTION.promo
			+e.section
				+e.container.container._md
					+e.item._md._color-1
						+b.control-panel._vertical._vertical-r
							+e.A.btn._view(href='#!')
								+i('view')
								+e.btn-tip
									span Быстрый просмотр
							+e.A.btn._more(href='#!')
								+i('list')
								+e.btn-tip
									span Подробнее
							+e.A.btn._bid(href='#!')
								+i('hammer')
								+e.btn-tip
									span Сделать ставку
							+e.A.btn._add(href='#!')
								+i('beg')
								+e.btn-tip
									span Добавить
										br
										| в лоты

						+e.IMG.item-img(src='img/content/promo/promo_1.jpg' alt='image')
						+e.item-content
							+e.item-info
								+e.H5.item-title.title._xs Мишки в лесу
								+e.item-data
									+e.SPAN.item-data-descr (холст, масло)
									+e.SPAN.item-data-user
										span Шишкин И.
										span (
											+i('star')
											| 5 347)
								+e.item-time
									+i('sand-clock')
									| Осталось:
									= ' '
									span 3 дня

							+e.item-price 150 000 руб.

							+e.item-bids
								span 50
								| ставок

					+e.A.item._sm._color-1._section(href='#!')
						+e.DIV.item-content
							+e.DIV.section-descr
								+e.H2.section-title.title._md Горящие лоты
								+e.P.section-sub-title Какое-то более детальное описание раздела

					+e.item._sm._color-2._text-white
						+b.control-panel._vertical._vertical-l
							+e.A.btn._view(href='#!')
								+i('view')
								+e.btn-tip
									span Быстрый просмотр
							+e.A.btn._more(href='#!')
								+i('list')
								+e.btn-tip
									span Подробнее
							+e.A.btn._bid(href='#!')
								+i('hammer')
								+e.btn-tip
									span Сделать ставку
							+e.A.btn._add(href='#!')
								+i('beg')
								+e.btn-tip
									span Добавить
										br
										| в лоты
						+e.IMG.item-img(src='img/content/promo/promo_2.jpg' alt='image')
						+e.item-content
							+e.item-info
								+e.H5.item-title.title._xs Мишки в лесу
								+e.item-data
									+e.SPAN.item-data-descr (холст, масло)
									+e.SPAN.item-data-user
										span Шишкин И.
										span (
											+i('star')
											| 5 347)
								+e.item-time
									+i('sand-clock')
									| Осталось:
									= ' '
									span 3 дня

							+e.item-price 150 000 руб.

							+e.item-bids
								span 50
								| ставок

					+e.item._lg._color-3
						+b.control-panel._vertical._vertical-l
							+e.A.btn._view(href='#!')
								+i('view')
								+e.btn-tip
									span Быстрый просмотр
							+e.A.btn._more(href='#!')
								+i('list')
								+e.btn-tip
									span Подробнее
							+e.A.btn._bid(href='#!')
								+i('hammer')
								+e.btn-tip
									span Сделать ставку
							+e.A.btn._add(href='#!')
								+i('beg')
								+e.btn-tip
									span Добавить
										br
										| в лоты
						+e.IMG.item-img(src='img/content/promo/promo_3.jpg' alt='image')
						+e.item-content
							+e.item-info
								+e.H5.item-title.title._xs Мишки в лесу
								+e.item-data
									+e.SPAN.item-data-descr (холст, масло)
									+e.SPAN.item-data-user
										span Шишкин И.
										span (
											+i('star')
											| 5 347)
								+e.item-time
									+i('sand-clock')
									| Осталось:
									= ' '
									span 3 дня

							+e.item-price 150 000 руб.

							+e.item-bids
								span 50
								| ставок

					+e.A.item._sm._color-3(href='#!')
						+e.DIV.item-content
							+e.DIV.section-descr
								+e.H2.section-title.title._md Смотреть дальше
								+e.item-icon-arr.icon-arr-r-long-black

					+e.item._sm._color-4._text-white
						+b.control-panel._vertical._vertical-l
							+e.A.btn._view(href='#!')
								+i('view')
								+e.btn-tip
									span Быстрый просмотр
							+e.A.btn._more(href='#!')
								+i('list')
								+e.btn-tip
									span Подробнее
							+e.A.btn._bid(href='#!')
								+i('hammer')
								+e.btn-tip
									span Сделать ставку
							+e.A.btn._add(href='#!')
								+i('beg')
								+e.btn-tip
									span Добавить
										br
										| в лоты
						+e.IMG.item-img(src='img/content/promo/promo_4.jpg' alt='image')
						+e.item-content
							+e.item-info
								+e.H5.item-title.title._xs Мишки в лесу
								+e.item-data
									+e.SPAN.item-data-descr (холст, масло)
									+e.SPAN.item-data-user
										span Шишкин И.
										span (
											+i('star')
											| 5 347)
								+e.item-time
									+i('sand-clock')
									| Осталось:
									= ' '
									span 3 дня

							+e.item-price 150 000 руб.

							+e.item-bids._text-white
								span 50
								| ставок

			+e.section._gray
				+e.container.container._md

					+e.item._md._color-5
						+b.control-panel._vertical._vertical-r
							+e.A.btn._view(href='#!')
								+i('view')
								+e.btn-tip
									span Быстрый просмотр
							+e.A.btn._more(href='#!')
								+i('list')
								+e.btn-tip
									span Подробнее
							+e.A.btn._bid(href='#!')
								+i('hammer')
								+e.btn-tip
									span Сделать ставку
							+e.A.btn._add(href='#!')
								+i('beg')
								+e.btn-tip
									span Добавить
										br
										| в лоты
						+e.IMG.item-img(src='img/content/promo/promo_5.jpg' alt='image')
						+e.item-content
							+e.item-info
								+e.H5.item-title.title._xs Мишки в лесу
								+e.item-data
									+e.SPAN.item-data-descr (холст, масло)
									+e.SPAN.item-data-user
										span Шишкин И.
										span (
											+i('star')
											| 5 347)
								+e.item-time
									+i('sand-clock')
									| Осталось:
									= ' '
									span 3 дня

							+e.item-price 150 000 руб.

							+e.item-bids
								span 50
								| ставок

					+e.A.item._sm._color-5(href='#!')
						+e.DIV.item-content
							+e.DIV.section-descr
								+e.H2.section-title.title._md Новинки
								+e.P.section-sub-title Рекомендуем
									br
									| Вам

					+e.item._sm._color-3._text-white
						+b.control-panel._vertical._vertical-l
							+e.A.btn._view(href='#!')
								+i('view')
								+e.btn-tip
									span Быстрый просмотр
							+e.A.btn._more(href='#!')
								+i('list')
								+e.btn-tip
									span Подробнее
							+e.A.btn._bid(href='#!')
								+i('hammer')
								+e.btn-tip
									span Сделать ставку
							+e.A.btn._add(href='#!')
								+i('beg')
								+e.btn-tip
									span Добавить
										br
										| в лоты
						+e.IMG.item-img(src='img/content/promo/promo_2.jpg' alt='image')
						+e.item-content
							+e.item-info
								+e.H5.item-title.title._xs Мишки в лесу
								+e.item-data
									+e.SPAN.item-data-descr (холст, масло)
									+e.SPAN.item-data-user
										span Шишкин И.
										span (
											+i('star')
											| 5 347)
								+e.item-time
									+i('sand-clock')
									| Осталось:
									= ' '
									span 3 дня

							+e.item-price 150 000 руб.

							+e.item-bids
								span 50
								| ставок

					+e.item._lg._color-1._text-white
						+b.control-panel._vertical._vertical-l
							+e.A.btn._view(href='#!')
								+i('view')
								+e.btn-tip
									span Быстрый просмотр
							+e.A.btn._more(href='#!')
								+i('list')
								+e.btn-tip
									span Подробнее
							+e.A.btn._bid(href='#!')
								+i('hammer')
								+e.btn-tip
									span Сделать ставку
							+e.A.btn._add(href='#!')
								+i('beg')
								+e.btn-tip
									span Добавить
										br
										| в лоты
						+e.IMG.item-img(src='img/content/promo/promo_6.jpg' alt='image')
						+e.item-content
							+e.item-info
								+e.H5.item-title.title._xs Мишки в лесу
								+e.item-data
									+e.SPAN.item-data-descr (холст, масло)
									+e.SPAN.item-data-user
										span Шишкин И.
										span (
											+i('star')
											| 5 347)
								+e.item-time
									+i('sand-clock')
									| Осталось:
									= ' '
									span 3 дня

							+e.item-price 150 000 руб.

							+e.item-bids
								span 50
								| ставок

					+e.A.item._sm._color-7._text-white(href='#!')
						+e.DIV.item-content
							+e.DIV.section-descr
								+e.H2.section-title.title._md Смотреть дальше
								+e.item-icon-arr.icon-arr-r-long-white

					+e.item._sm._color-6._text-white
						+b.control-panel._vertical._vertical-l
							+e.A.btn._view(href='#!')
								+i('view')
								+e.btn-tip
									span Быстрый просмотр
							+e.A.btn._more(href='#!')
								+i('list')
								+e.btn-tip
									span Подробнее
							+e.A.btn._bid(href='#!')
								+i('hammer')
								+e.btn-tip
									span Сделать ставку
							+e.A.btn._add(href='#!')
								+i('beg')
								+e.btn-tip
									span Добавить
										br
										| в лоты
						+e.IMG.item-img(src='img/content/promo/promo_7.jpg' alt='image')
						+e.item-content
							+e.item-info
								+e.H5.item-title.title._xs Мишки в лесу
								+e.item-data
									+e.SPAN.item-data-descr (холст, масло)
									+e.SPAN.item-data-user
										span Шишкин И.
										span (
											+i('star')
											| 5 347)
								+e.item-time
									+i('sand-clock')
									| Осталось:
									= ' '
									span 3 дня

							+e.item-price 150 000 руб.

							+e.item-bids._text-white
								span 50
								| ставок
		//end promo
			
		//begin benefits
		+b.SECTION.benefits
			+e.container.container
				+e.A.help-btn.help-btn(href='#!')
					+i('help')
					span.help-btn__text Помощь 24/7

				+e.block
					+e.item._1
						+logo('black-blue-2', 'benefits__item-logo')
					+e.item._2
						+e.P Защита покупателей

				+e.block
					+e.item._3
						+e.item-img
							+e.IMG(src='img/other/van_left.png' alt='image')
						+e.P Надежная доставка

				+e.block
					+e.item._4
						+e.P Защита покупателей
					+e.item._5
						+e.item-bg(style='background-image: url(img/bg/benefits_item-bg.jpg)')
						+e.P Защита покупателей
		//end benefits

		include components/partners
	//end main
