extends layouts/_layout

block variables
	-title = 'Главная'

block content

	//begin main
	main.main

		//begin screen
		+b.SECTION.screen._full
			+e.container.container
				+e.content
					+e.A.logo(href='#!')
						+e.IMG(src='img/other/logo_1.png' alt='image')
					+e.H1.title.title._lg._gray Доступное искусство со всего мира
					+e.P.sub-title Теперь покупать стало проще и безопаснее
					+e.A.link.link(href='#!') Подробнее
						.link__icon.icon-arrow-r
				+e.img-wrap
					+e.IMG(src='img/content/screen_img.png' alt='image')
		//end screen

		//begin info-block
		+b.SECTION.info-block._home
			.container.container_md
				+e.slider.slider
					-i = 0
					while i < 2
						+e.item._1
							+e.item-header
								+e.item-icon
								+e.H3.item-title.title._xs Живопись
							+e.item-content
								+e.item-content-img
									+e.IMG(src='img/content/info-block_1.png' alt='image')
								+e.item-content-text
									+e.H4.item-content-title.title Это
									+e.P вид изобразительного искусства, связанный с передачей...
								+e.A.item-link.link._bold(href='#!') Подробнее
									.link__icon.icon-arrow-r

						+e.item._2
							+e.item-header
								+e.item-icon
								+e.H3.item-title.title._xs._white Графика
							+e.item-content
								+e.item-content-img
									+e.IMG(src='img/content/info-block_2.png' alt='image')
								+e.item-content-text
									+e.H4.item-content-title.title._white Это
									+e.P вид изобразительного искусства, использующий в качестве основных...
								+e.A.item-link.link._bold(href='#!') Подробнее
									.link__icon.icon-arrow-r

						+e.item._3
							+e.item-header
								+e.item-icon
								+e.H3.item-title.title._xs Скульптура
							+e.item-content
								+e.item-content-img
									+e.IMG(src='img/content/info-block_3.png' alt='image')
								+e.item-content-text
									+e.H4.item-content-title.title Это
									+e.P вид изобразительного искусства, произведения которого имеют...
								+e.A.item-link.link._bold(href='#!') Подробнее
									.link__icon.icon-arrow-r
						-i++

				+e.BUTTON.help-btn.help-btn
		//end info-block

		//begin promo
		+b.SECTION.promo
			+e.section
				+e.container.container._md
					+e.item._md._color-1
						+b.control-panel._vertical._vertical-r
							+e.A.btn._view(href='#!')
								+e.btn-tip Быстрый просмотр
							+e.A.btn._more(href='#!')
								+e.btn-tip Подробнее
							+e.A.btn._bid(href='#!')
								+e.btn-tip Сделать ставку
							+e.A.btn._add(href='#!')
								+e.btn-tip Добавить
									br
									| в лоты

						+e.IMG.item-img(src='img/content/promo/promo_1.jpg' alt='image')
						+e.item-content
							+e.item-info
								+e.H5.item-title.title._xs Мишки в лесу
								+e.item-data
									+e.SPAN.item-data-descr (холст, масло)
									+e.SPAN.item-data-user
										span Шишкин И.
										span (
											+i('star')
											| 5 347)
								+e.item-time Осталось:
									= ' '
									span 3 дня

							+e.item-price 150 000 руб.

							+e.item-bids
								span 50
								| ставок

					+e.item._sm._color-1
						+e.item-content
							+e.section-descr
								+e.H2.section-title.title._md Горящие лоты
								+e.P.section-sub-title Какое-то более детальное описание раздела

					+e.item._sm._color-2._text-white
						+b.control-panel._vertical._vertical-l
							+e.A.btn._view(href='#!')
								+e.btn-tip Быстрый просмотр
							+e.A.btn._more(href='#!')
								+e.btn-tip Подробнее
							+e.A.btn._bid(href='#!')
								+e.btn-tip Сделать ставку
							+e.A.btn._add(href='#!')
								+e.btn-tip Добавить
									br
									| в лоты
						+e.IMG.item-img(src='img/content/promo/promo_2.jpg' alt='image')
						+e.item-content
							+e.item-info
								+e.H5.item-title.title._xs Мишки в лесу
								+e.item-data
									+e.SPAN.item-data-descr (холст, масло)
									+e.SPAN.item-data-user
										span Шишкин И.
										span (
											+i('star')
											| 5 347)
								+e.item-time Осталось:
									= ' '
									span 3 дня

							+e.item-price 150 000 руб.

							+e.item-bids
								span 50
								| ставок

					+e.item._lg._color-3
						+b.control-panel._vertical._vertical-l
							+e.A.btn._view(href='#!')
								+e.btn-tip Быстрый просмотр
							+e.A.btn._more(href='#!')
								+e.btn-tip Подробнее
							+e.A.btn._bid(href='#!')
								+e.btn-tip Сделать ставку
							+e.A.btn._add(href='#!')
								+e.btn-tip Добавить
									br
									| в лоты
						+e.IMG.item-img(src='img/content/promo/promo_3.jpg' alt='image')
						+e.item-content
							+e.item-info
								+e.H5.item-title.title._xs Мишки в лесу
								+e.item-data
									+e.SPAN.item-data-descr (холст, масло)
									+e.SPAN.item-data-user
										span Шишкин И.
										span (
											+i('star')
											| 5 347)
								+e.item-time Осталось:
									= ' '
									span 3 дня

							+e.item-price 150 000 руб.

							+e.item-bids
								span 50
								| ставок

					+e.item._sm._color-3
						+e.item-content
							+e.section-descr
								+e.H2.section-title.title._md Горящие лоты
								+e.P.section-sub-title Какое-то более детальное описание раздела

					+e.item._sm._color-4._text-white
						+b.control-panel._vertical._vertical-l
							+e.A.btn._view(href='#!')
								+e.btn-tip Быстрый просмотр
							+e.A.btn._more(href='#!')
								+e.btn-tip Подробнее
							+e.A.btn._bid(href='#!')
								+e.btn-tip Сделать ставку
							+e.A.btn._add(href='#!')
								+e.btn-tip Добавить
									br
									| в лоты
						+e.IMG.item-img(src='img/content/promo/promo_4.jpg' alt='image')
						+e.item-content
							+e.item-info
								+e.H5.item-title.title._xs Мишки в лесу
								+e.item-data
									+e.SPAN.item-data-descr (холст, масло)
									+e.SPAN.item-data-user
										span Шишкин И.
										span (
											+i('star')
											| 5 347)
								+e.item-time Осталось:
									= ' '
									span 3 дня

							+e.item-price 150 000 руб.

							+e.item-bids._text-white
								span 50
								| ставок

			+e.section._gray
				+e.container.container._md

					+e.item._md._color-5
						+b.control-panel._vertical
							+e.A.btn._view(href='#!')
								+e.btn-tip Быстрый просмотр
							+e.A.btn._more(href='#!')
								+e.btn-tip Подробнее
							+e.A.btn._bid(href='#!')
								+e.btn-tip Сделать ставку
							+e.A.btn._add(href='#!')
								+e.btn-tip Добавить
									br
									| в лоты
						+e.IMG.item-img(src='img/content/promo/promo_5.jpg' alt='image')
						+e.item-content
							+e.item-info
								+e.H5.item-title.title._xs Мишки в лесу
								+e.item-data
									+e.SPAN.item-data-descr (холст, масло)
									+e.SPAN.item-data-user
										span Шишкин И.
										span (
											+i('star')
											| 5 347)
								+e.item-time Осталось:
									= ' '
									span 3 дня

							+e.item-price 150 000 руб.

							+e.item-bids
								span 50
								| ставок

					+e.item._sm._color-5
						+e.item-content
							+e.section-descr
								+e.H2.section-title.title._md Новинки
								+e.P.section-sub-title Рекомендуем
									br
									| Вам

					+e.item._sm._color-3._text-white
						+b.control-panel._vertical
							+e.A.btn._view(href='#!')
								+e.btn-tip Быстрый просмотр
							+e.A.btn._more(href='#!')
								+e.btn-tip Подробнее
							+e.A.btn._bid(href='#!')
								+e.btn-tip Сделать ставку
							+e.A.btn._add(href='#!')
								+e.btn-tip Добавить
									br
									| в лоты
						+e.IMG.item-img(src='img/content/promo/promo_2.jpg' alt='image')
						+e.item-content
							+e.item-info
								+e.H5.item-title.title._xs Мишки в лесу
								+e.item-data
									+e.SPAN.item-data-descr (холст, масло)
									+e.SPAN.item-data-user
										span Шишкин И.
										span (
											+i('star')
											| 5 347)
								+e.item-time Осталось:
									= ' '
									span 3 дня

							+e.item-price 150 000 руб.

							+e.item-bids
								span 50
								| ставок

					+e.item._lg._color-1._text-white
						+b.control-panel._vertical
							+e.A.btn._view(href='#!')
								+e.btn-tip Быстрый просмотр
							+e.A.btn._more(href='#!')
								+e.btn-tip Подробнее
							+e.A.btn._bid(href='#!')
								+e.btn-tip Сделать ставку
							+e.A.btn._add(href='#!')
								+e.btn-tip Добавить
									br
									| в лоты
						+e.IMG.item-img(src='img/content/promo/promo_6.jpg' alt='image')
						+e.item-content
							+e.item-info
								+e.H5.item-title.title._xs Мишки в лесу
								+e.item-data
									+e.SPAN.item-data-descr (холст, масло)
									+e.SPAN.item-data-user
										span Шишкин И.
										span (
											+i('star')
											| 5 347)
								+e.item-time Осталось:
									= ' '
									span 3 дня

							+e.item-price 150 000 руб.

							+e.item-bids
								span 50
								| ставок

					+e.item._sm._color-7._text-white
						+e.item-content
							+e.section-descr
								+e.H2.section-title.title._md Смотреть дальше

					+e.item._sm._color-6._text-white
						+b.control-panel._vertical
							+e.A.btn._view(href='#!')
								+e.btn-tip Быстрый просмотр
							+e.A.btn._more(href='#!')
								+e.btn-tip Подробнее
							+e.A.btn._bid(href='#!')
								+e.btn-tip Сделать ставку
							+e.A.btn._add(href='#!')
								+e.btn-tip Добавить
									br
									| в лоты
						+e.IMG.item-img(src='img/content/promo/promo_7.jpg' alt='image')
						+e.item-content
							+e.item-info
								+e.H5.item-title.title._xs Мишки в лесу
								+e.item-data
									+e.SPAN.item-data-descr (холст, масло)
									+e.SPAN.item-data-user
										span Шишкин И.
										span (
											+i('star')
											| 5 347)
								+e.item-time Осталось:
									= ' '
									span 3 дня

							+e.item-price 150 000 руб.

							+e.item-bids._text-white
								span 50
								| ставок
		//end promo

	//end main
