extends layouts/_layout

block variables
	-title = 'Товар'

block content

	//begin main
	main.main

		include components/screen

		.container
			+breadcrumbs('Главная', 'Живопись', 'Картины Барокко')(class='_full')
			
		//begin product
		+b.SECTION.product
			+e.container.container
				
		//end product
			
		include components/partners
