extends layouts/_layout

block variables
	-title = 'Личный профиль'

block content

	//begin main
	main.main

		include components/screen

		+b.page
			+e.head-container.container
				+breadcrumbs('Главная', 'Личный профиль')(class='page__breadcrumbs')
				+e.H1.title.title._md Личный профиль
			+e.container.container
				+e.ASIDE.side
					+e.side-block
						+b.menu
							+e.block
								+e.A.block-item(href='#!')
									+i('user')
									span Мой профиль
								+e.A.block-item(href='#!')
									+i('beg')
									span Мои лоты
								+e.A.block-item(href='#!')
									+i('cloud-2')
									span Сообщения
								+e.A.block-item(href='#!')
									+i('ring')
									span Уведомления
								+e.A.block-item(href='#!')
									+i('gear')
									span Настройки

							+e.UL.list.list
								-
									menuList = [
									'Безопасная сделка',
									'Доставка',
									'Условия оплаты',
									'Частые вопросы',
									'Реклама',
									'Полезные ссылки',
									'Служба поддержки'
									]

								for text in menuList
									li: a(href='#!')= text

					+b.reviews-block.page__side-block
						+e.H4.title.title._xs.page__side-title Отзывы
						+e.item
							+e.item-header
								+e.item-img-wrap
									+e.IMG(src='img/content/reviews_user.jpg' alt='image')
								+e.SPAN.item-name Headoff
							+e.item-rating
								+e.item-rating-value(data-rating='5')
									+i('star', 'reviews-block__item-rating-icon')
									+i('star', 'reviews-block__item-rating-icon')
									+i('star', 'reviews-block__item-rating-icon')
									+i('star', 'reviews-block__item-rating-icon')
									+i('star', 'reviews-block__item-rating-icon')
								+e.SPAN.item-rating-text 5 звезд
							+e.item-content
								+e.SPAN.item-title Текст:
								+e.P Все круто, мне понравилось!
						+e.item
							+e.item-header
								+e.item-img-wrap
									+e.IMG(src='img/content/reviews_user-2.jpg' alt='image')
								+e.SPAN.item-name Headoff
							+e.item-rating
								+e.item-rating-value(data-rating='3')
									+i('star', 'reviews-block__item-rating-icon')
									+i('star', 'reviews-block__item-rating-icon')
									+i('star', 'reviews-block__item-rating-icon')
									+i('star', 'reviews-block__item-rating-icon')
									+i('star', 'reviews-block__item-rating-icon')
								+e.SPAN.item-rating-text 5 звезд
							+e.item-content
								+e.SPAN.item-title Текст:
								+e.P Все круто, мне понравилось!

						+e.A.all-link.link._decor(href='#!')
							span Смотреть все отзывы

					+b.share._md(href='#!' style='background-image: url(img/bg/share_bg.jpg)')
						+e.H6.title.title._xs Акция
						+e.P вид изобразительного искусства, связанный с передачей...

				+e.content

					//begin profile
					+b.SECTION.profile
						+e.A.settings-btn(href='#!'): +i('gear')
						+e.row
							+e.col
								+e.photo
									+e.IMG(src='img/content/user-photo.jpg' alt='image')
								+e.A.link(href='#!') Редактировать
							+e.block
								+e.block-row
									+e.H5.name.title._sm Шишкин Иван
									+e.SPAN.status Онлайн
								+e.info
									+e.info-row
										+e.info-col Возраст:
										+e.info-col 25
									+e.info-row
										+e.info-col Пол:
										+e.info-col Мужской
									+e.info-row
										+e.info-col Стиль работы:
										+e.info-col Живопись
									+e.info-row._bold
										+e.info-col Лотов:
										+e.info-col 100

								+b.A.add-btn.profile__add-btn(href='#!')
									+e.icon: +i('beg')
									+e.SPAN.text Добавить новый лот
					//end profile
						
					//begin lots
					+b.SECTION.lots._profile
						+b.tabs.js-tabs.is-anim.lots__block
							+e.nav.js-tabs-nav
								+e.BUTTON.nav-btn.is-active Активные
								+e.BUTTON.nav-btn Завершенные

							.js-tabs-for
								div
									+e.block
										+productItem('horizontal-simple', 1, '_horiz _simple block')
										+productItem('horizontal-simple', 2, '_horiz _simple block')
								div
									+e.block
										+productItem('horizontal-simple', 3, '_horiz _simple block')
										+productItem('horizontal-simple', 4, '_horiz _simple block')

						+e.block
							+e.H6.block-title.title._xs Завершенные

							+b.product-item._horiz.block
								+e.A.img-wrap(href='img/content/products/product_lg.jpg' data-fancybox='product-item-2')
									+e.img-zoom
										+i('zoom', 'product-item__img-zoom-icon')
									+e.IMG.img(src=`img/content/products/product_5.jpg`, alt='image', title='')

								+e.content
									+e.H5.title.title.title_xs Мишки в лесу
									+e.data
										+e.SPAN.data-col (холст, масло)
										+e.SPAN.data-col
											span Шишкин И.
											span
												| (
												+i('star')
												| 5 347)
									+e.P.descr.js-dot Картина пользуется популярностью благодаря композиционному включению в пейзажное полотно элементов анималистической сюжетности...
									+e.A.read-link.link(href='#!') Читать далее
										.link__icon.icon-arrow-r-black

								+e.details
									+e.price 150 000 руб.
									+e.details-block
										+e.details-item Доставка:
											span DHL
										+e.details-item Оплата:
											+e.SVG.details-icon._visa(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 9.63 2.97')
												path(fill='#1a3680' d='M8.9,2.92l-.09-.43h-1l-.16.43H6.82L8,.29A.38.38,0,0,1,8.39.05H9l.64,2.87ZM8.44.83c0,.11-.1.28-.1.27L8,1.9h.65L8.5,1.07Z')
												path(fill='#1a3680' d='M5.51,3a2.59,2.59,0,0,1-.87-.16l.11-.64.1,0a1.59,1.59,0,0,0,.73.15c.23,0,.47-.08.47-.28s-.1-.21-.4-.35S5,1.36,5,1,5.51,0,6.28,0A2,2,0,0,1,7,.12L6.88.74l-.07,0A1.51,1.51,0,0,0,6.22.6c-.3,0-.44.13-.44.25s.16.22.44.35c.45.21.66.46.65.78C6.87,2.58,6.33,3,5.51,3Z')
												polygon(fill='#1a3680' points='4.15 2.92 3.37 2.92 3.85 0.05 4.64 0.05 4.15 2.92')
												path(fill='#1a3680' d='M1.48,2.92.72.2A3.1,3.1,0,0,1,1.8,1.39L1.94,2l.77-2h.83L2.3,2.92Z')
												path(fill='#ed9f01' d='M0,0H1.22a.3.3,0,0,1,.34.23l.27,1.27A2.5,2.5,0,0,0,0,.08Z')

											+e.SVG.details-icon._mc(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 6.43 3.99')
												circle(fill='#ea001b' cx='1.99', cy='1.99', r='1.99')
												circle(fill='#ea001b' cx='4.44', cy='1.99', r='1.99')
												path(fill='#ff5f01' d='M3.21,3.57a2,2,0,0,1,0-3.15,2,2,0,0,1,0,3.15Z')

										+e.time
											+i('sand-clock')
											| Осталось:
											span 3 дня

										+e.details-item._bid Последняя ставка:
											span Headoff

								.control-panel.control-panel_vert-sm
									.control-panel__bids
										span 50
										| ставок
									a.control-panel__btn.control-panel__btn_bid(href='#!')
										+i('close')
										span.control-panel__btn-tip
											span Удалить
									a.control-panel__btn.control-panel__btn_add(href='#!')
										+i('gear')
										span.control-panel__btn-tip
											span Редактировать
									a.control-panel__btn.control-panel__btn_more(href='#!')
										+i('cloud-2')
										span.control-panel__btn-tip
											span Комментировать
					//end lots

		include components/partners

	//end main
