// *** begin category *** //
.category
   &__breadcrumbs
      margin-bottom: 55px
   &__title
      margin-bottom: 45px
   &__filter
      margin-bottom: 22px
   &__checkbox-group
      &:not(:last-child)
         margin-bottom: 10px
   &__row
   &__inner
      margin-bottom: 50px
   &__descr
      &-title
         margin-bottom: 30px
      p
         &:not(:last-child)
            margin-bottom: 20px
   
// end category //

// *** begin teaser *** //
.teaser
   &__inner
      position: relative
      display: flex
      align-items: center
      padding: 50px 0 23px 60px
      background-color: #6600cc
   &__text
      flex: 0 0 390px
      color: #fff
      z-index: 2
   &__logo
      margin-bottom: 30px
   &__title
      margin-bottom: 30px
   &__descr
      margin-bottom: 30px
      font-size: 25px
   &__link
      font-size: 17px
   &__img-wrap
      position: absolute
      right: 0
      top: calc(50% + 20px)
      transform: translateY(-50%)
      z-index: 1
      width: percentage(546 / 936)
   &__help-btn
      margin-left: -100px
// end teaser //
