// *** begin article *** //
.article
   margin-bottom: 50px
   &__title
      margin-bottom: 40px
   &__text
      margin-bottom: 50px
      p
         &:not(:last-child)
            margin-bottom: 20px
   &__sub-title
      margin-bottom: 20px
   &__row
      display: flex
      margin: 0 -15px 50px
   &__list
      flex: 0 1 33.33333%
      width: 33.33333%
      padding: 0 15px
      
   &__table
      border: 1px solid #e2e1df
      thead
         border: 1px solid $color4
         color: $color4
         +boldFont
         tr
            border-bottom: 1px solid $color4
         td
            &:not(:last-child)
               border-right: 1px solid $color4
               
      tr
         border-bottom: 1px solid #e2e1df
   
      td
         padding: 13px 20px
         &:not(:last-child)
            border-right: 1px solid #e2e1df
      &-wrap
      &-title
         margin-bottom: 30px
         
// end article //

// *** begin info *** //
.info
   padding: 30px 0
   &__block
      display: flex
      align-items: center
      min-height: 145px
      margin-bottom: 20px
      color: $white
      background-color: #6600cc
      &-icon-wrap
         +flexCenter
         align-self: stretch
         flex: 0 0 145px
         width: 145px
         background-color: #5c00b8
      &-icon
         margin-left: 10px
      &-text
         flex: 1 1 auto
         padding: 20px 60px
      &-title
         margin-bottom: 20px
         +boldFont
         font-size: 38px
      p
         font-size: 21px
   
   &__row
      display: flex
      
   &__item
      $parent: &
      display: flex
      align-items: center
      min-height: 145px
      &_yellow
         background-color: #ffdf45
      &_blue
         background-color: #7ae4e6
         color: $white
      &-img-wrap
         align-self: flex-end
         flex: 0 0 150px
         width: 150px
         text-align: left
      &-content
         position: relative
         flex: 0 0 190px
         margin-left: 20px
         padding-left: 40px
      &-icon
         position: absolute
         top: 0
         left: 0
         font-size: 28px
         #{$parent}_blue &
            fill: $white
         
      &-title
         margin-bottom: 10px
      p
         max-height: 54px
// end info //

// *** begin contact-block *** //
.contact-block
   padding: 50px 0
   &__heading
      margin-bottom: 30px
   &__title
      margin-bottom: 15px
   &__sub-title
      font-size: 21px
   &__form
      position: relative
      padding: 20px 30px 30px
      border: 1px solid #e2e1df
      &-wrap
      &-title
         margin-bottom: 20px
      &-close
         position: absolute
         top: 15px
         right: 15px
         &:hover
            svg
               fill: $color7
         svg
            font-size: 12px
            transition: .3s ease-in-out
      &-row
         display: flex
         margin: 0 -6px 12px
      &-field
         flex: 0 1 33.33333%
         width: 33.33333%
         padding: 0 6px
         &_message
            flex: 1 1 auto
            width: 100%
            padding: 0
            margin-bottom: 12px
      &-actions
         &-btn
            &:not(:last-child)
               margin-right: 11px
// end contact-block //
