//begin footer
+b.FOOTER.footer
	+e.container.container
		+e.block
			+e.block-line
				+logo('white-blue-long', '_long footer__logo')(href='#!')
				+e.menu
					+e.menu-item
						+e.A.menu-link(href='#!')
							+i('hammer')
							span Мои ставки
					+e.menu-item
						+e.A.menu-link(href='#!')
							+i('beg')
							span Текущие лоты
					+e.menu-item
						+e.A.menu-link(href='#!')
							+i('lock')
							span Войти/Регистрация
					+e.menu-item._has-select
						+e.P Доставка в
							+i('location')
						.dropdown(onclick='')
							ul
								li
									a(href='#!')
										span Самару
										+i('expand-button', 'dropdown__icon')
									ul
										li: a(href='#!') Москву
										li: a(href='#!') Кемерово

			+e.block-row
				+e.block-col.footer__rights
					+e.rights-text
						+e.P © 2010-2018 Интернет-аукцион
						+e.P Все права защищены
					+e.rights-links
						+b.A.link._decor(href='#!')
							span Пользовательское соглашение
						+b.A.link._decor(href='#!')
							span Защита конфиденциальности
				+e.block-col
					+e.H4.title.title._xs Как покупать
					+e.UL.list.list
						li: a(href='#!') Гид участникам
						li: a(href='#!') Зарегистрироваться
						li: a(href='#!') Защита сделок
						li: a(href='#!') Бонус
						li: a(href='#!') Бонус
						li: a(href='#!') Защита сделок
				+e.block-col
					+e.H4.title.title._xs Как покупать
					+e.UL.list.list
						li: a(href='#!') Гид участникам
						li: a(href='#!') Зарегистрироваться
						li: a(href='#!') Защита сделок
						li: a(href='#!') Бонус
						li: a(href='#!') Бонус
						li: a(href='#!') Защита сделок
				+e.block-col
					+e.H4.title.title._xs Верни часть средств*
					+e.block-row
						+b.socials.footer__socials
							-
								socList = [
								'fb',
								'vk',
								'inst'
								]
							for icon in socList
								+e.A(href='#!' target='_blank'): +i(`${icon}`)

						+e.A.link.link(href='#!') Подробнее
							.link__icon.icon-arrow-r

					+b.subscribe.footer__subscribe
						+e.FORM.form(action='#!' method='POST')
							+b.form-field.subscribe__form-field
								+e.INPUT.input(type='email' name='' placeholder='E-mail' required)
							+b.form-field.subscribe__form-field
								+b.BUTTON.subscribe__form-submit-btn(type='submit') Подписаться

		+e.social-block
			+e.IMG(src='img/other/vk-block.jpg' alt='image')
//end footer
