//begin header
+b.HEADER.header(class= headerClass)
	+e.container.container
		+b.NAV.nav
			-
				navList = [
				'Все категории',
				'Защита сделки',
				'Помощь',
				'']

			+e.UL.list
				for navLink, i in navList
					+e.LI.list-item(class= i === navList.length - 1 ? 'nav__line moving-line' : ''): +e.A.list-link(href=`#!`)
						span= navLink
						span= navLink

		+b.BUTTON.nav-btn(type='button')
			+e.SPAN.burger
				+e.SPAN.lines

		+e.controls
			+e.controls-item
				+e.A.controls-btn.js-controls-btn(href='#!')
					+i('loupe', 'header__controls-btn-icon')
				+e.FORM.controls-form(action='#!', method='POST')
					+e.INPUT.controls-form-input(type='text' name='' placeholder='Поиск' required)
					+e.BUTTON.controls-form-btn(type='submit')

			+e.controls-item
				+e.A.controls-btn.js-controls-btn(href='#!')
					+i('location', 'header__controls-btn-icon')
				+e.controls-block
					+e.H5.controls-block-title.title._xs Доставка в
					+checkBox('header__controls-check', 'Москва')(checked)
					+checkBox('header__controls-check', 'Санкт-Петербург')(checked)
					+checkBox('header__controls-check', 'Самара')
					+checkBox('header__controls-check', 'Оренбург')

			+e.controls-item
				+e.A.controls-btn(href='#!')
					+i('hammer', 'header__controls-btn-icon')
			+e.controls-item
				+e.A.controls-btn(href='#!')
					+i('beg', 'header__controls-btn-icon')
			+e.controls-item
				+e.A.controls-btn(href='#!')
					+i('lock', 'header__controls-btn-icon')
			+e.SPAN.controls-line.moving-line
//end header
