//begin header
+b.HEADER.header(class= headerClass)
	+b.nav
		+e.NAV.body
			-
				navList = [
				['Что делаем', 'screen'],
				['О нас', 'advantages'],
				['Как работаем', 'faq'],
				['Оплата и гарантии', 'solutions'],
				['Отзывы', 'config'],
				['Контакты', 'equip'],
				['Сотрудники', 'contacts']]
			+e.UL.list
				for navLink in navList
					+e.LI.list-item: +e.A.list-link(href=`#${navLink[1]}`)= navLink[0]
	+e.info
		+e.info-container.container
			+e.A.logo(href='#!')
				+e.IMG(src='img/other/logo.svg' alt='Время поручений')

			+b.contact-block.header__contact-block
				+e.P.title Принимаем заявки в мессенджерах и по телефону
				+e.socials
					+e.A.socials-link._whatsapp(href='#!'): +i('whatsapp', 'contact-block__socials-icon')
					+e.A.socials-link._tg(href='#!'): +i('tg', 'contact-block__socials-icon')
				+e.A.tel(href='tel:89246959111') 8 (924) 695-91-11

			+b.BUTTON.nav-btn(type='button')
				+e.SPAN.burger
					+e.SPAN.lines
//end header
