//begin screen
+b.SECTION.screen._small
	+e.container.container
		+logo('black-blue', 'screen__logo')(href='#!')
		+e.H2.title.title._lg._gray Доступное искусство со всего мира
		+e.text-content
			+e.P.sub-title Теперь покупать стало проще и безопаснее
			+e.A.link.link(href='#!') Подробнее
				.link__icon.icon-arrow-r-black
//end screen
