// *** begin logo *** //
.logo
   flex: 0 0 198px
   width: 198px
   
// end logo //

// *** begin moving-line *** //
.moving-line
   opacity: 0
   pointer-events: none
   position: absolute
   bottom: 0
   left: 0
   width: 100%
   height: 3px
   background-color: $color1
   transition: .3s ease-in-out
// end moving-line //

// *** begin socials *** //
.socials
   display: flex
   align-items: center
   a
      display: flex
      align-items: center
      margin-left: 17px
      &:hover
         svg
            fill: $color1
      svg
         fill: #acafbd
         transition: .3s ease-in-out
      .icon-fb
         font-size: 17px
      .icon-vk
         font-size: 20px
      .icon-inst
// end socials //

// *** begin subscribe *** //
.subscribe
   &__form
      display: flex
      margin: 0 -1px
      &-field
         flex: 1 1 50%
         width: 50%
         padding: 0 1px
      &-submit-btn
         width: 100%
         padding: 11px 15px 12px
         color: $color1
         +f('pt400', 15)
         border: 2px solid $color1
         text-align: center
// end subscribe //

// *** begin dropdown *** //
.dropdown
   $parent: &
   position: relative
   text-align: center
   cursor: pointer
   > ul
      position: relative
      cursor: pointer
      &:hover ul
         pointer-events: auto
         opacity: 1
         transform: scaleY(1)
      &:hover #{$parent}__icon
         animation: smallMoveDown .5s ease
      > li > a
         position: relative
         z-index: 1
         pointer-events: none
         span
            color: $color1
      li
         &:not(:last-child)
            margin-bottom: 5px
         a
            display: flex
            align-items: center
            cursor: pointer
            color: $color7
            white-space: nowrap
            transition: .3s ease-in-out
            &:hover
               color: $color1
      ul
         pointer-events: none
         position: absolute
         top: -15px
         left: -33px
         right: 0
         transform-origin: 0 0
         opacity: 0
         transform: scaleY(0)
         display: table
         padding: 40px 15px 10px 33px
         min-width: 130px
         background-color: #f6f6f6
         transition: .3s ease-in-out
   
   &__icon
      margin: 3px 0 0 6px
      font-size: 9px
// end dropdown //

.breadcrumbs
   margin-bottom: 55px
   ul
      font-size: 0
      li
         display: inline-block
         vertical-align: middle
         line-height: 22px
         &:not(:last-child)
            margin-right: 10px
         &:not(:last-child)::after
            display: inline-block
            vertical-align: middle
            margin-left: 8px
            pointer-events: none
            font-size: 15px
            content: '/'
         &.is-active a
            pointer-events: none
            color: $color1
         a
            display: inline-block
            vertical-align: middle
            font-size: 15px
            color: $color7
            +trs
            &:hover
               color: $color1

.pagination
   text-align: center
   &_default
      margin: 50px 0 0
      
   ul
      margin-bottom: 13px
      font-size: 0
      line-height: 0
      li
         display: inline-block
         vertical-align: middle
         position: relative
         margin: 0 12px
         &.is-active
            a
               font-size: 21px
               color: $color1
               pointer-events: none
         
         a
            text-align: center
            +f('pt700', 10, 10)
            color: $color7
            +trs
            &:hover
               color: $color1
               svg
                  fill: $color7

   &__arr
      font-size: 11px
      fill: $color1
      +trs
      &_l
         transform: rotate(90deg)
      &_r
         transform: rotate(-90deg)
