.form-field
   $parent: &
   position: relative
   display: block
   &__input
      width: 100%
      height: 46px
      padding: 0 16px
      +f('pt400', 15)
      line-height: 1.2
      background-color: $white
      border-radius: 0
      border: 1px solid #e2e1df
      +placeholder-color($color7)
      color: $color1
      transition: .3s ease-in-out
      &:focus
         border-color: $color4
   &__textarea
      $parent: &
      display: block
      width: 100%
      height: 156px
      padding: 16px
      border: 1px solid #e2e1df
      background-color: $white
      +f('pt400', 15)
      line-height: 1.2
      transition: .3s ease-in-out
      +placeholder-color($color7)
      color: $color1
      resize: none
      &:focus
         border-color: $color4

.check-box
   $parent: &
   &.is-disabled
      pointer-events: none
   &__label
      display: inline-flex
      align-items: center
      cursor: pointer
      
   &__square
      position: relative
      width: 15px
      height: 15px
      flex: 0 0 15px
      margin-right: 13px
      border: 1px solid #acafbd
   &__icon
      opacity: 0
      transform: scale(0)
      position: absolute
      top: 2px
      left: 2px
      transition: .3s ease-in-out
      font-size: 10px
      fill: $color1
      #{$parent}_radio &
         display: none
   &__text
      +nosel
      svg
         margin: 0 4px
         vertical-align: -1px
         font-size: 13px
         
   &__input
      display: none
      &:checked ~ #{$parent}__square #{$parent}__icon,
      &:checked ~ #{$parent}__square::after
         opacity: 1
         transform: scale(1)
         
// *** begin custom select *** //
.select2-container .select2-selection--single
   height: 46px
   border: 1px solid #e2e1df
   border-radius: 0
   
.select2-container--default .select2-selection--single .select2-selection__rendered
   padding: 0 15px
   line-height: 46px
   color: $color1
   
.select2-container--default .select2-selection--single .select2-selection__arrow
   height: 46px
   width: 40px
.select2-container--classic .select2-selection--single .select2-selection__arrow b, .select2-container--default .select2-selection--single .select2-selection__arrow b
   top: calc(50% - 2px)
   background: url("../img/other/expand-button.svg") 50% 50% / cover
   border: 0
   width: 11px
   height: 7px
   transition: .15s ease-in-out
.select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow b, .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b
   transform: scaleY(-1)
   
.select2-dropdown
   border-radius: 0
   border: 1px solid #e2e1df
   
.select2-results__option
   padding: 13px 15px

.select2-container--default .select2-results__option--highlighted[aria-selected]
   background: #7100d2

// end custom select //

// *** begin range-slider *** //
.range-slider
   display: flex
   align-items: center
   &__result
      height: 20px
      flex: 0 0 57px
      width: 57px
      +f('pt700', 15, 20)
      white-space: nowrap
      color: $color1
      +sm
         flex: 0 0 auto
         width: 60px
   &__input
      margin: 0 15px
      flex: 0 0 258px
      +sm
         flex: 0 1 auto
         width: 100%
         margin: 5px 0
// end range-slider //

// ios plugin settings
.irs
   height: 20px

.irs-bar, .irs-bar-edge
   top: calc(50% - 2px)
   height: 3px
   background: #6600cc
   border: 0
   
.irs-line
   top: calc(50% - 2px)
   height: 3px
   border: 0
   border-radius: 0
   background: #e2e1df

.irs-slider
   top: calc(50% - 10px)
   width: 18px
   height: 18px
   background: #6600cc
   transition: background .3s ease-in-out
   border: 3px solid $white
   &.state_hover,
   &:hover
      background: darken(#6600cc, 12)
   
.irs-max, .irs-min,
.irs-from, .irs-single, .irs-to
   display: none

// *** begin checkbox-group *** //
.checkbox-group
   $parent: &
   &__check
      &:not(:last-child)
         padding-bottom: 5px
      &:not(#{$parent}__check_all)
         padding-left: 18px
// end checkbox-group //
