.form-field
   $parent: &
   position: relative
   display: block
   &__input
      width: 100%
      height: 46px
      padding: 0 16px
      +f('pt400', 15)
      background-color: $white
      border-radius: 0
      border: 2px solid #e4e3e1
      +placeholder-color($color7)
      color: $color1
      transition: .3s ease-in-out
      +xs
         padding: 0 20px 0 37px
      &:focus
         border-color: $color1
   &__textarea
      $parent: &
      display: block
      width: 100%
      height: 150px
      padding: 18px 20px 18px 55px
      border: 2px solid $color4
      border-radius: 30px
      background-color: $white
      +f('pn400', 20, 28)
      transition: .3s ease-in-out
      +placeholder-color($color5)
      color: $color1
      resize: none
      +xs
         padding: 18px 20px 18px 37px
      &:focus
         border-color: $color1

.check-box
   $parent: &
   &.is-disabled
      pointer-events: none
   &__label
      display: inline-flex
      align-items: center
      cursor: pointer
      
   &__square
      position: relative
      width: 15px
      height: 15px
      flex: 0 0 15px
      margin-right: 13px
      border: 1px solid #808080
      +xs
         margin-top: 5px
   &__icon
      opacity: 0
      transform: scale(0)
      position: absolute
      top: 2px
      left: 2px
      transition: .3s ease-in-out
      font-size: 10px
      fill: $color1
      #{$parent}_radio &
         display: none
   &__text
      +f('ub400', 14, 24)
      +xs
         line-height: 20px
   
      #{$parent}_type-2 &
         color: $color5
   &__input
      display: none
      &:checked ~ #{$parent}__square #{$parent}__icon,
      &:checked ~ #{$parent}__square::after
         opacity: 1
         transform: scale(1)
