.header
   display: none
   $parent: &
   position: fixed
   top: 0
   left: 0
   width: 100%
   z-index: 100
   &__logo
      flex: 0 0 217px
   &__info
      &-container
         display: flex
         justify-content: space-between
         padding: 20px 0 18px
         max-width: 1140px
         border-bottom: 1px solid rgba($white, .15)
