// *** begin product-item *** //
.product-item
   $parent: &
   border: 1px solid #e2e1df
   transition: border-color .3s ease-in-out
   &:hover
      border-color: #7ae4e6
      .control-panel_simple,
      .control-panel_horiz-sm,
      .control-panel_horiz-sm .control-panel__btn
         border-color: #7ae4e6
   &_horiz
      display: flex
      min-height: 230px
      +sm
         flex-direction: column
      
   &__img
      +cover-img
      &-wrap
         position: relative
         display: block
         padding: 4px 4px 0
         height: 226px
         #{$parent}_horiz &
            flex: 0 0 percentage(300px / 934px)
            width: percentage(300px / 934px)
            padding: 4px 0 4px 4px
            +md
               flex: 0 0 percentage(260px / 934px)
               width: percentage(260px / 934px)
            +sm
               flex: 0 1 auto
               width: 100%
               padding: 4px
            .is-ie &
               width: 299px
               flex: 0 1 299px
            
      &-zoom
         position: absolute
         top: calc(50% - 22px)
         left: calc(50% - 22px)
         +flexCenter
         width: 44px
         height: 44px
         background-color: #ffe469
         opacity: 0
         transform: scale(.5)
         transition: .3s ease-in-out
         #{$parent}__img-wrap:hover &
            opacity: 1
            transform: scale(1)
         &-icon
            font-size: 16px
            fill: $color1
         
   &__content
      padding: 18px 20px
      #{$parent}_horiz &
         flex: 0 0 percentage(355px / 934px)
         width: percentage(355px / 934px)
         padding: 25px 5px 25px 37px
         +md
            flex: 0 0 percentage(350px / 934px)
            width: percentage(350px / 934px)
            padding: 25px 15px
         +sm
            flex: 0 1 auto
            width: 100%
            padding: 15px
         .is-ie &
            width: 355px
            flex: 0 1 355px
   
   //#{$parent}_simple &
      // here
   &__title
      margin-bottom: 10px
   &__data
      margin: 0 -10px 20px
      #{$parent}_horiz &
         margin: 0 -10px 15px
         +md
            margin: 0 0 15px
      &-col
         flex: 0 1 50%
         width: 50%
         padding: 0 10px
         #{$parent}_horiz &
            +md
               padding: 0
      svg
         margin: 0 4px 0 2px
         vertical-align: -1px
         fill: $color1
         font-size: 12px
   &__time
      margin-bottom: 20px
      font-size: 17px
      #{$parent}_horiz &
         margin-bottom: 25px
      svg
         margin-right: 15px
         font-size: 16px
      span
         +boldFont
         #{$parent}_horiz &
            margin-left: 4px
   &__details
      display: flex
      align-items: center
      #{$parent}_horiz &
         flex: 1 1 percentage(225px / 934px)
         width: percentage(225px / 934px)
         padding: 25px 10px 25px 35px
         flex-direction: column
         align-items: flex-start
         border-left: 1px solid #e2e1df
         border-right: 1px solid #e2e1df
         transition: border-color .3s ease-in-out
         +md
            padding: 25px 10px
         +sm
            flex: 0 1 auto
            width: 100%
            border: 0
            padding: 15px
         .is-ie &
            width: 223px
            flex: 0 1 223px
   
      #{$parent}:hover &
         border-color: #7ae4e6
         
      &-item
         display: flex
         align-items: center
         color: $color7
         &:not(:last-child)
            margin-bottom: 10px
         span
            margin-left: 4px
            +boldFont
            color: $color1
         &_bid
            font-size: 13px
            span
               +regFont
            
      &-icon
         margin: 0 10px
         
   &__price
      margin-left: auto
      white-space: nowrap
      +f('pt700', 25, 25)
      #{$parent}_horiz &
         margin: 0 0 38px
         text-align: left
         +sm
            margin: 0 0 20px
   
   &__bids
      display: flex
      flex-direction: column
      align-items: center
      justify-content: center
      width: 57px
      height: 57px
      background-color: #ffe469
      span
         +f('pt700', 17, 17)
   &__actions
   &__descr
      max-height: 72px
      margin-bottom: 25px
   &__read-link
   
   &__range
      margin-bottom: 20px
      +sm
         justify-content: space-between
         
      .range-slider__input
         flex: 0 0 120px
         width: 120px
         +sm
            flex: 0 1 auto
            width: 100%
            margin-right: 10px
// end product-item //

// *** begin control-panel *** //
.control-panel
   $parent: &
   display: flex
   &_vertical
      position: absolute
      top: 0
      flex-direction: column
      &-r
         left: 100%
         +sm
            z-index: 1
            left: calc(100% - 45px)
      &-l
         right: 100%
         +sm
            z-index: 1
            right: auto
            left: calc(100% - 45px)
   &_horiz-sm
      border-top: 1px solid #e2e1df
      transition: border-color .3s ease-in-out
   &_vert-sm
      flex-direction: column
      flex: 0 0 56px
      width: 56px
      +sm
         flex-direction: row
         flex: 0 1 auto
         width: 100%
         
   &_simple
      margin-left: auto
      border-left: 1px solid #e2e1df
      transition: border-color .3s ease-in-out
   &__btn
      position: relative
      +flexCenter
      flex: 0 0 45px
      width: 45px
      height: 45px
      #{$parent}_horiz-sm &
         flex: 0 1 33.33333%
         width: 33.33333%
         background-color: #fff
         transition: .3s ease-in-out
         &:not(:last-child)
            border-right: 1px solid #e2e1df
         &:hover
            background-color: #7ae4e6
            svg
               fill: #fff
               
      #{$parent}_vert-sm &
         flex: 1 1 auto
         width: 100%
         height: 25%
         background-color: #fff
         transition: .3s ease-in-out
         +sm
            flex: 0 1 25%
            width: 25%
            height: 60px
            border-top: 1px solid #e2e1df
         &:not(:last-child)
            border-bottom: 1px solid #e2e1df
            +sm
               border-bottom: 0
               border-right: 1px solid #e2e1df
         &:hover
            background-color: #7ae4e6
            svg
               fill: #fff
         
      &-tip
         position: absolute
         z-index: 1
         top: 50%
         opacity: 0
         display: table
         min-height: 45px
         min-width: 95px
         padding: 7px 5px 8px 12px
         background-color: #f6f6f6
         color: $color1
         font-size: 13px
         text-align: left
         transition: .2s ease-in-out
         pointer-events: none
         #{$parent}_vertical-l &
            right: 100%
            transform: translate3d(-15px, -50%, 0)
            +md
               right: auto
               left: 100%
            +sm
               left: auto
               right: 100%
               
            &::before
               left: 100%
               +arr(6, 16, #f6f6f6, r)
               +md
                  left: auto
                  right: 100%
                  +arr(6, 16, #f6f6f6, l)
               +sm
                  right: auto
                  left: 100%
                  +arr(6, 16, #f6f6f6, r)
         
         #{$parent}_vertical-r &
            left: 100%
            transform: translate3d(15px, -50%, 0)
            +md
               left: auto
               right: 100%
            &::before
               right: 100%
               +arr(6, 16, #f6f6f6, l)
               +md
                  left: 100%
                  right: auto
                  +arr(6, 16, #f6f6f6, r)
               
         #{$parent}_vert-sm &,
         #{$parent}_horiz-sm &
            top: -100%
            left: 50%
            width: 100%
            transform: translate3d(-50%, -15px, 0)
            padding: 5px 10px
            justify-content: center
            text-align: center
            &::before
               top: 100%
               left: calc(50% - 8px)
               +arr(16, 6, #f6f6f6, b)
               
         #{$parent}_vert-sm &
            top: calc(-100% + 16px)
            +sm
               top: calc(-100% + 13px)
         #{$parent}_vertical-r #{$parent}__btn:hover &
            transform: translate3d(0, -50%, 0)
            opacity: 1
         #{$parent}_vertical-l #{$parent}__btn:hover &
            transform: translate3d(0, -50%, 0)
            opacity: 1
            
         #{$parent}_vert-sm #{$parent}__btn:hover &,
         #{$parent}_horiz-sm #{$parent}__btn:hover &
            transform: translate3d(-50%, 0, 0)
            opacity: 1
         
         &::before
            position: absolute
            top: calc(50% - 8px)
            content: ''
            
         span
            display: table-row
            
      &_view
      &_more
         background-color: #393f4d
      &_bid
         background-color: #80838f
      &_add
         background-color: #b7bac7
      svg
         fill: #e7e8ec
         #{$parent}_vert-sm &,
         #{$parent}_horiz-sm &
            fill: #acafbd
            transition: .3s ease-in-out
         
      .icon-view
         fill: $color1
      .icon-list
         font-size: 14px
      .icon-hammer
         font-size: 21px
      .icon-beg
         font-size: 18px
      .icon-gear
         font-size: 18px
         
   &__bids
      @extend .product-item__bids
      width: 100%
      height: 25%
      +sm
         flex: 0 1 25%
         width: 25%
         height: 60px
// end control-panel //

// *** begin product-filter *** //
.product-filter
   &__row
      display: flex
      align-items: center
      &_top
         margin-bottom: 22px
         padding: 11px 18px
         border: 1px solid #e2e1df
         +md
            flex-direction: column
            align-items: flex-start
      &_bot
         justify-content: space-between
         +sm
            flex-direction: column
            align-items: flex-start
   &__title
      color: $color7
      +sm
         margin-bottom: 5px
         
   &__price
      width: 400px
      margin: 0 20px
      +sm
         margin: 0 0 10px
         flex-direction: column
         align-items: flex-start
         width: 100%
      &-wrap
         display: flex
         +sm
            flex-direction: column
            width: 100%
         
   &__actions
      display: flex
      margin-left: auto
      +md
         margin: 10px 0 0
      +sm
         flex-direction: column
         
      &-check
         &:not(:last-child)
            margin-right: 45px
            +sm
               margin: 0 0 10px
   &__sort
      width: 230px
      +sm
         margin-bottom: 20px
   &__view
      margin-left: 25px
      &-wrap
         display: flex
         align-items: center
      &-btn
         display: inline-flex
         align-items: center
         justify-content: center
         width: 44px
         height: 44px
         background-color: #f6f6f6
         &.is-active
            background-color: #f0f0f0
         &-icon
            fill: #bcbecb
            transition: .3s ease-in-out
            .is-active &
               fill: $color1
// end product-filter //

// *** begin bid-time *** //
.bid-time
   $parent: &
   display: flex
   align-items: center
   margin: 0 -3px
   +boldFont
   font-size: 17px
   opacity: 0
   transition: .15s ease-in-out
   &.is-init
      opacity: 1
   &__count
      padding: 0 3px
      &:not(:last-child)
         position: relative
         &::after
            display: inline
            margin-left: 3px
            content: ':'
            
// end bid-time //

// *** begin product *** //
.product
   &__container
   &__row
      display: flex
      +md
         flex-direction: column
         
   &__top-row
      margin: 0 -29px 50px
      +sm
         margin: 0 -29px 30px
   &__bottom-row
   
   &__top-col
      padding: 0 29px
      .is-ie &
         padding: 0 15px
   
   &__view
      flex: 0 0 682px
      width: 682px
      +md
         margin: 0 auto 30px
         flex: 0 1 auto
      +sm
         width: 100%
   &__data
      flex: 0 1 percentage(622 / 1304)
      width: percentage(622 / 1304)
      +md
         flex: 1 1 auto
         width: 100%
         max-width: 678px
         margin: 0 auto
      
      &-row
         display: flex
         align-items: center
         justify-content: space-between
         +sm
            flex-direction: column
            align-items: flex-start
   &__title
      margin-bottom: 20px
      
   &__user
      &-row
         +sm
            flex-direction: column
            align-items: flex-start
      
      &-info
         padding-right: 30px
         font-size: 17px
         +sm
            padding-right: 0
            margin-bottom: 20px
         span
            &:not(:last-child)
               margin-right: 15px
   &__feed-count
      display: flex
      align-items: center
      margin-bottom: 20px
      +sm
         margin: 15px 0
      svg
         margin-right: 10px
         font-size: 21px
         fill: $color7
      span
         +boldFont
   &__descr
      margin-bottom: 30px
      +sm
         margin-bottom: 15px
   &__info
      &-row
         align-items: flex-end
         margin-bottom: 20px
   &__price
      margin-bottom: -2px
      +boldFont
      font-size: 29px
      +sm
         margin-bottom: 10px
   &__bids
      +boldFont
      font-size: 17px
      color: $color4
      +sm
         margin-bottom: 10px
   &__time
      justify-content: flex-start
      text-align: left
      flex: 0 0 286px
      +sm
         flex: 1 1 auto
      &-title
         margin-right: 5px
         +sm
            margin-bottom: 5px
         svg
            margin-right: 10px
            vertical-align: -2px
            font-size: 16px
   &__bid-time
   &__data-title
      font-size: 17px
      color: $color7
      svg
         fill: $color7
   &__actions
      margin-bottom: 30px
      +sm
         margin-bottom: 20px
      &-bid
         +sm
            margin-bottom: 10px
         .is-ie &
            display: flex
   &__payment
      margin-bottom: 30px
      +sm
         margin-bottom: 20px
      &-item
         display: flex
         align-items: center
         font-size: 17px
         &:not(:last-child)
            +sm
               margin-bottom: 7px
         &-title
            margin-right: 4px
         &-icon
            margin: 0 8px
         span
            +boldFont
         &-text
            color: #6ed6d7
   &__comment
      &-title
         margin-bottom: 5px
         +boldFont
         font-size: 17px
         
   &__text-block
      flex: 0 0 270px
      width: 270px
      @extend .page__side-block
      +md
         flex: 1 1 auto
         width: 100%
         margin: 30px 0 0
         order: 1
      &-title
         margin-bottom: 10px
   &__info-tabs
      flex: 1 1 auto
      padding-left: 44px
      +md
         padding-left: 0
      &-text
         p
            &:not(:last-child)
               margin-bottom: 20px
// end product //

// *** begin products *** //
.products
   padding: 30px 0
   &__title
      margin-bottom: 30px
   &__row
   &__col
      flex: 0 1 calc(25% - 10px)
      width: calc(25% - 10px)
      +md
         flex: 0 1 calc(50% - 10px)
         width: calc(50% - 10px)
      &:nth-child(3) ~ &
         margin-top: 0
      &:nth-child(2) ~ &
         +md
            margin-top: 10px
      &:nth-child(4) ~ &
         margin-top: 10px
         
      .is-ie &
         flex-basis: calc(25% - 12px)
// end products //
