.js-tabs
   &-for
      position: relative
      > div
         display: none
         &:first-child
            display: block
            
   &-nav
      +nosel
   &-nav > button,
   &-nav > a
      &.is-active
         pointer-events: none
      &.is-disabled
         pointer-events: none
         opacity: 0.5
         background-color: $white
   
// *** begin tabs *** //
.tabs
   $parent: &
   &__nav
      margin-bottom: 30px
      &-btn
         position: relative
         +f('pt700', 21)
         color: $color7
         transition: .3s ease-in-out
         #{$parent}_sm &
            font-size: 15px
         &:hover
            color: $color1
         &:not(:last-child)
            margin-right: 20px
            &::after
               position: absolute
               right: -11px
               top: 4px
               height: 20px
               width: 2px
               background-color: $color1
               content: ''
               #{$parent}_sm &
                  top: 3px
                  height: 15px
         &.is-active
            color: $color1

// end tabs //
