mixin logo(type, classMod)
	+b.logo(class= classMod)&attributes(attributes)
		case type

			when 'white-blue'
				svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 47.3 7.62')
					rect(fill='#6ed6d7', x='23.82', y='2.42', width='23.47', height='5.2')
					path(fill='#fff', d='M4,7.22A2.6,2.6,0,1,1,2.6,2.42V3.64A1.39,1.39,0,1,0,4,5H5.2v2.6H4Zm17.84-2.8V5.63h2v2H25v-2h2V4.42H25v-2H23.82v2ZM47.3,5H46.09v2.6H47.3ZM42.1,5a2.59,2.59,0,0,1,2.6-2.59V3.64A1.38,1.38,0,0,0,43.31,5v2.6H42.1V5ZM40,5a2.6,2.6,0,1,1-2.6-2.6V3.64A1.39,1.39,0,1,0,38.81,5Zm-9.7-3.81h1.21V0H30.32Zm1.21,6.41h1.21V6.41H31.53v-4H29.11V3.64h1.21V6.41H29.11V7.62h2.42ZM19.75,5a2.6,2.6,0,1,0-2.6,2.6V6.41A1.39,1.39,0,1,1,18.54,5ZM12.48,5H11.26V2.42h1.22ZM7.28,5a2.59,2.59,0,0,0,2.6,2.6V6.41A1.39,1.39,0,0,1,8.49,5V2.42H7.28V5Z')

			when 'white-blue-long'
				svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 47.3 7.62')
					rect(fill='#6ed6d7', x='-352.7', y='2.42', width='400', height='5.2')
					path(fill='#fff', d='M4,7.22A2.6,2.6,0,1,1,2.6,2.42V3.64A1.39,1.39,0,1,0,4,5H5.2v2.6H4Zm17.84-2.8V5.63h2v2H25v-2h2V4.42H25v-2H23.82v2ZM47.3,5H46.09v2.6H47.3ZM42.1,5a2.59,2.59,0,0,1,2.6-2.59V3.64A1.38,1.38,0,0,0,43.31,5v2.6H42.1V5ZM40,5a2.6,2.6,0,1,1-2.6-2.6V3.64A1.39,1.39,0,1,0,38.81,5Zm-9.7-3.81h1.21V0H30.32Zm1.21,6.41h1.21V6.41H31.53v-4H29.11V3.64h1.21V6.41H29.11V7.62h2.42ZM19.75,5a2.6,2.6,0,1,0-2.6,2.6V6.41A1.39,1.39,0,1,1,18.54,5ZM12.48,5H11.26V2.42h1.22ZM7.28,5a2.59,2.59,0,0,0,2.6,2.6V6.41A1.39,1.39,0,0,1,8.49,5V2.42H7.28V5Z')

			when 'black-blue'
				svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 47.3 7.62')
					rect(fill='#aff1f2', x='23.82', y='2.42', width='23.47', height='5.2')
					path(fill='#414857', d='M4,7.22A2.6,2.6,0,1,1,2.6,2.42V3.64A1.39,1.39,0,1,0,4,5H5.2v2.6H4Zm17.84-2.8V5.63h2v2H25v-2h2V4.42H25v-2H23.82v2ZM47.3,5H46.09v2.6H47.3ZM42.1,5a2.59,2.59,0,0,1,2.6-2.59V3.64A1.38,1.38,0,0,0,43.31,5v2.6H42.1V5ZM40,5a2.6,2.6,0,1,1-2.6-2.6V3.64A1.39,1.39,0,1,0,38.81,5Zm-9.7-3.81h1.21V0H30.32Zm1.21,6.41h1.21V6.41H31.53v-4H29.11V3.64h1.21V6.41H29.11V7.62h2.42ZM19.75,5a2.6,2.6,0,1,0-2.6,2.6V6.41A1.39,1.39,0,1,1,18.54,5ZM12.48,5H11.26V2.42h1.22ZM7.28,5a2.59,2.59,0,0,0,2.6,2.6V6.41A1.39,1.39,0,0,1,8.49,5V2.42H7.28V5Z')

			when 'black-blue-2'
				svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 47.3 7.62')
					rect(fill='#6ed6d7', x='23.82', y='2.42', width='23.47', height='5.2')
					path(fill='#414857', d='M4,7.22A2.6,2.6,0,1,1,2.6,2.42V3.64A1.39,1.39,0,1,0,4,5H5.2v2.6H4Zm17.84-2.8V5.63h2v2H25v-2h2V4.42H25v-2H23.82v2ZM47.3,5H46.09v2.6H47.3ZM42.1,5a2.59,2.59,0,0,1,2.6-2.59V3.64A1.38,1.38,0,0,0,43.31,5v2.6H42.1V5ZM40,5a2.6,2.6,0,1,1-2.6-2.6V3.64A1.39,1.39,0,1,0,38.81,5Zm-9.7-3.81h1.21V0H30.32Zm1.21,6.41h1.21V6.41H31.53v-4H29.11V3.64h1.21V6.41H29.11V7.62h2.42ZM19.75,5a2.6,2.6,0,1,0-2.6,2.6V6.41A1.39,1.39,0,1,1,18.54,5ZM12.48,5H11.26V2.42h1.22ZM7.28,5a2.59,2.59,0,0,0,2.6,2.6V6.41A1.39,1.39,0,0,1,8.49,5V2.42H7.28V5Z')

			when 'white-purple'
				svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 47.3 7.62')
					rect(fill='#6600cc', x='23.82', y='2.42', width='23.47', height='5.2')
					path(fill='#fff', d='M4,7.22A2.6,2.6,0,1,1,2.6,2.42V3.64A1.39,1.39,0,1,0,4,5H5.2v2.6H4Zm17.84-2.8V5.63h2v2H25v-2h2V4.42H25v-2H23.82v2ZM47.3,5H46.09v2.6H47.3ZM42.1,5a2.59,2.59,0,0,1,2.6-2.59V3.64A1.38,1.38,0,0,0,43.31,5v2.6H42.1V5ZM40,5a2.6,2.6,0,1,1-2.6-2.6V3.64A1.39,1.39,0,1,0,38.81,5Zm-9.7-3.81h1.21V0H30.32Zm1.21,6.41h1.21V6.41H31.53v-4H29.11V3.64h1.21V6.41H29.11V7.62h2.42ZM19.75,5a2.6,2.6,0,1,0-2.6,2.6V6.41A1.39,1.39,0,1,1,18.54,5ZM12.48,5H11.26V2.42h1.22ZM7.28,5a2.59,2.59,0,0,0,2.6,2.6V6.41A1.39,1.39,0,0,1,8.49,5V2.42H7.28V5Z')


mixin btn(classMod, text, popup)
	+b.BUTTON.btn(class= classMod data-popup-target= popup)&attributes(attributes)= text

mixin sectTitle(classMod, text, descr)
	+b.section-title(class= classMod || '')
		+e.H2.text= text
		if descr
			+e.P.descr= descr

mixin checkBox(classMod, text, radio)
	+b.check-box(class= classMod)
		+e.LABEL.label
			if radio
				+e.INPUT.input(type='radio' name='radio')&attributes(attributes)
			else
				+e.INPUT.input(type='checkbox' name='')&attributes(attributes)
			+e.square: +i('check', 'check-box__icon')
			+e.SPAN.text= text

mixin formField(classMod, text, icon, textarea)
	+b.LABEL.form-field(class= classMod)
		if icon
			+e.DIV.icon
				+i(`${icon}`)
		if !textarea
			+e.INPUT.input(type='text' name='' placeholder=`${text}` required)&attributes(attributes)
		else
			+e.TEXTAREA.textarea.textarea(placeholder=`${text}`)

//- breadcrumbs
mixin breadcrumbs(...itemText)
	+b.breadcrumbs&attributes(attributes)
		ul
			each text, i in itemText
				li(class= i === itemText.length - 1 ? 'is-active' : ''): a(href='#!')= text

//- pagination
mixin pagination(classMod)
	+b.pagination(class= classMod || '_default')
		ul
			li
				a(href='#!') 01
			li
				a(href='#!') 02
			li
				a(href='#!'): +i('expand-button', 'pagination__arr pagination__arr_l')
			li.is-active
				a(href='#!') 03
			li
				a(href='#!'): +i('expand-button', 'pagination__arr pagination__arr_r')
			li
				a(href='#!') 04
			li
				a(href='#!') 05
