mixin btn(classMod, text, popup)
	+b.BUTTON.btn(class= classMod data-popup-target= popup)&attributes(attributes)= text

mixin sectTitle(classMod, text, descr)
	+b.section-title(class= classMod || '')
		+e.H2.text= text
		if descr
			+e.P.descr= descr

mixin checkBox(classMod, text, radio)
	+b.check-box(class= classMod)
		+e.LABEL.label
			if radio
				+e.INPUT.input(type='radio' name='radio')&attributes(attributes)
			else
				+e.INPUT.input(type='checkbox' name='')&attributes(attributes)
			+e.square: +i('check', 'check-box__icon')
			+e.SPAN.text= text

mixin formField(classMod, text, icon, textarea)
	+b.LABEL.form-field(class= classMod)
		if icon
			+e.DIV.icon
				+i(`${icon}`)
		if !textarea
			+e.INPUT.input(type='text' name='' placeholder=`${text}` required)&attributes(attributes)
		else
			+e.TEXTAREA.textarea.textarea(placeholder=`${text}`)

//- breadcrumbs
mixin breadcrumbs(...itemText)
	+b.breadcrumbs&attributes(attributes)
		ul
			each text, i in itemText
				li(class= i === itemText.length - 1 ? 'is-active' : ''): a(href='#!')= text

//- pagination
mixin pagination(classMod)
	+b.pagination(class= classMod || '_default')
		ul
			li
				a(href='#!'): +i('arr-l')
			li.is-active
				a(href='#!') 1
			li
				a(href='#!') 2
			li
				a(href='#!') 3
			li
				a(href='#!') 4
			li
				a(href='#!') 5
			li
				a(href='#!') ...
			li
				a(href='#!') 7
			li
				a(href='#!') 8
			li
				a(href='#!') 9
			li
				a(href='#!'): +i('arr-r')
