$icons: (0:0)
$icons: map-merge($icons,('arrow-r': (X: -81px, Y:0px, W: 16px, H: 12px, TW: 97px, TH: 72px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('help': (X: 0px, Y:-39px, W: 27px, H: 33px, TW: 97px, TH: 72px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('paint': (X: -41px, Y:0px, W: 30px, H: 28px, TW: 97px, TH: 72px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('pen': (X: -41px, Y:-38px, W: 28px, H: 28px, TW: 97px, TH: 72px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('shovel': (X: 0px, Y:0px, W: 31px, H: 29px, TW: 97px, TH: 72px, IMG: '../img/sprite.png')))


// Gets an attribute from the sass map
@function icon-attr($icon, $attr)
  $icon: map-get($icons, $icon)
  @return map-get($icon, $attr)

@mixin sprite($iconName)
  background-image: url(icon-attr($iconName, IMG))
  width: icon-attr($iconName, W)
  height: icon-attr($iconName, H)
  background-position: icon-attr($iconName, X) icon-attr($iconName, Y)
@mixin sprite-position($iconName)
  background-position: icon-attr($iconName, X) icon-attr($iconName, Y)
@mixin sprite-retina($iconName)
  background-image: url(icon-attr($iconName, IMG))
  $width: icon-attr($iconName, W)
  $height: icon-attr($iconName, H)
  width: $width/2
  height: $height/2
  $x: icon-attr($iconName, X)
  $y: icon-attr($iconName, Y)
  background-position: $x/2 $y/2
  $tw: icon-attr($iconName, TW)   
  $th: icon-attr($iconName, TH)
  background-size: $tw/2 $th/2    


@mixin s($i)
  +sprite($i)
@mixin sp($i)
  +sprite-position($i)
@mixin sr($i)
  +sprite-retina($i)

.icon-arrow-r
   width: 16px
   height: 12px
   background-image: url('../img/sprite.png')
   background-position: -81px 0px
.icon-help
   width: 27px
   height: 33px
   background-image: url('../img/sprite.png')
   background-position: 0px -39px
.icon-paint
   width: 30px
   height: 28px
   background-image: url('../img/sprite.png')
   background-position: -41px 0px
.icon-pen
   width: 28px
   height: 28px
   background-image: url('../img/sprite.png')
   background-position: -41px -38px
.icon-shovel
   width: 31px
   height: 29px
   background-image: url('../img/sprite.png')
   background-position: 0px 0px
