.icon-beg {
  width: 1.03em;
  height: 1em;
  fill: initial;
}
.icon-close {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-cloud-1 {
  width: 1.1em;
  height: 1em;
  fill: initial;
}
.icon-cloud-2 {
  width: 1.2em;
  height: 1em;
  fill: initial;
}
.icon-fb {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-four-dots {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-gear {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-hammer {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-help {
  width: 0.81em;
  height: 1em;
  fill: initial;
}
.icon-inst {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-list-sm {
  width: 0.23em;
  height: 1em;
  fill: initial;
}
.icon-list {
  width: 1.13em;
  height: 1em;
  fill: initial;
}
.icon-location {
  width: 0.67em;
  height: 1em;
  fill: initial;
}
.icon-lock {
  width: 0.72em;
  height: 1em;
  fill: initial;
}
.icon-logo-blue {
  width: 6.21em;
  height: 1em;
  fill: initial;
}
.icon-loupe {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-mc {
  width: 1.61em;
  height: 1em;
  fill: initial;
}
.icon-paint {
  width: 1.08em;
  height: 1em;
  fill: initial;
}
.icon-pen {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-ring {
  width: 0.68em;
  height: 1em;
  fill: initial;
}
.icon-sand-clock {
  width: 0.47em;
  height: 1em;
  fill: initial;
}
.icon-shovel {
  width: 1.04em;
  height: 1em;
  fill: initial;
}
.icon-sld-arr-l {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-sld-arr-r {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-star {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-target {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-user {
  width: 0.76em;
  height: 1em;
  fill: initial;
}
.icon-view {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-visa {
  width: 3.24em;
  height: 1em;
  fill: initial;
}
.icon-vk {
  width: 1em;
  height: 1em;
  fill: initial;
}
